node_modules
.env
coverage
coverage.json
typechain

# Hardhat files
cache
artifacts
# smart contracts' configs like abi and address changes, when we compile and deploy, so remove that from git
config/*.config.json
